[2020-07-05 08:26] stsg opened #1 "When running in docker-compose I cannot register a user"
When running in docker-compose I cannot register a new user.

haka_server docker log:

haka_srv    | 172.18.0.1 - - [05/Jul/2020:08:04:48 +0000] "GET / HTTP/1.1" 304 - "" "Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0"
haka_srv    | [2020-07-05 08:04:49][hakatime.server][Error][f44f148a32c1][PID 1][ThreadId 18][hakatime-0.1.0-inplace-libhaka:Haka.Authentication src/Haka/Auth

[2020-07-05 10:20] mujx commented on #1
Did you use the following command to start the services:
[code]

It seems like your database doesn't have the necessary tables created.

[2020-07-09 10:02] mujx commented on #1
@stsg Any updates on this?

[2020-07-09 20:42] stsg commented on #1
@mujx The problem is not solved yet, I've started your docker image using
`docker-compose up -d`
with attached docker-compose.yml. What am I doing wrong?
[docker-compose.yml.txt](https://github.com/mujx/hakatime/files/4899408/docker-compose.yml.txt)

[2020-07-10 07:11] mujx commented on #1
You have the following:
[code]
Probably the `./haka/docker` directory doesn't contain the files (https://github.com/mujx/hakatime/tree/master/docker) found in the repo. So you need to copy the contents to your directory.

Or try the following commands and it should work:

[code]

[2020-07-10 15:15] stsg commented on #1
Thanks! It's okay now. I didn't really initialize the database ;)

[2020-07-10 15:15] #1 closed

[2020-08-05 03:26] MarkWh1te opened #4 "log me out so frequently"
My current version is
`commit 1229e9e16085a01812afbc28355598fd0f36f182
`

Hakatime logs me out everyday....

[2020-08-05 08:21] mujx commented on #4
With the current settings the session will expire after 60 minutes of inactivity.

A solution would be to make the parameter configurable so it can fit your use-case. e.g 24h or 48h hours should be enough.

[2020-08-08 07:59] #4 closed

[2020-09-17 00:15] timvoet opened #5 "Can't run the hakatime service on a raspberry pi"
I tried to setup and run hakatime on my Raspberry pi with docker.  The DB runs just fine, but hakatime won't start and i get the following error

standard_init_linux.go:211: exec user process caused "exec format error"

I don't think it's anything related to the app, but the docker images selected.

[2020-09-17 06:09] jan-runkel-zeitgleich opened #6 "API for Chrome"
It would be great if there was an Api endpoint for the current user.
I have adapted the Chrome Extension, but unfortunately the endpoint is missing :-(
Is there a plan to provide this endpoint?

https://domain.com/api/v1/users/current

[2020-09-17 12:38] mujx commented on #6
Yes, that's something that could be implemented, at least in a stripped down version. The [docs](https://wakatime.com/developers#users) of the original endpoint have some fields that don't make sense for hakatime (e.g `has_premium_features`, `is_hireable` etc)

[2020-09-17 12:48] mujx commented on #5
Self-hosting hakatime in a RPi is a great use-case! I'll look into [buildx](https://github.com/docker/buildx#building-multi-platform-images)/[buildkit](https://github.com/moby/buildkit) for a way to build arm images.

[2020-09-17 15:57] timvoet commented on #5
Let me know if there is anything I can do. I love the idea of this project.  Paired with a nice VPN connection to my PI, seems like the perfect solution.

[2020-09-17 16:58] mujx commented on #5
@timvoet I've pushed some arm images with `test` tag (https://hub.docker.com/repository/docker/mujx/hakatime/tags?page=1). Could you check if they are working? (I don't have an RPi myself)

[2020-09-17 17:51] timvoet commented on #5
new error
hakatime   | standard_init_linux.go:211: exec user process caused "exec format error"

[2020-09-19 14:33] mujx commented on #5
@timvoet Apologies, the last image was still amd64. I've managed to build some proper arm images with the tag `latest-arm`.

Unfortunately building an arm image on a non arm machine, goes through qemu and in hakatime's case, a full build it's painfully slow (several hours). So it might not be possible to provide an automated ci build without an arm machine, but I'll try to upload them manually onc

[2020-09-20 00:02] timvoet commented on #5
No worries, i've been messing around trying to get it to build locally on my PI, but it fails with the current Dockerfile.  So far I've had signature issues with the debian:testing image, moved to stable:slim, and cabal doesn't recognize the "--dependencies-only flag

I'll keep trying this week, maybe I'll have some luck.

[2020-09-20 07:04] mujx commented on #5
It's probably an older version of cabal. You can remove that line entirely, it's only there for cache purposes. You also might want to to add `-j1` on `cabal build exe:hakatime` in case the build fails with an OOM exception.

[2020-09-21 08:01] tskulbru opened #7 "Import data from wakatime"
Would be nice if we could export the activity from wakatime and import them into hakatime so the users get a more "complete" timeline. Wakatime has a export function and tool which can export to different formats already.

[2020-09-21 11:47] mujx commented on #7
Yes, that would be a nice feature. Do we know the export format for wakatime? (fields etc)

[2020-09-21 18:12] lukasleitsch opened #8 "Browser-Reload doesn't load the data again"
Accessing the page with the Root-Domain loads the data and redirect to the url `/#!/app`. After this step a browser reload doesn't work anymore. The page shows only the loading indicator. Happens in Chrome and Firefox.

If I remove `/#!/app` from the url the page loads without any issues.

If you need more information for debugging, please let me know.

[2020-09-21 18:21] lukasleitsch opened #9 "Date range picker for selecting the date range"
I have to admit that the time limit button confuse me. I don't understand the exactly behavior. I could imagine a date range picker with presets could solve the issue. With a date range picker we are not limit to the current presets (max. 90 days). II would be pleased about having stats about an entire year.

Many something like this: http://www.daterangepicker.com/

What do you think about ab dat

[2020-09-21 18:28] mujx commented on #9
I agree, a date picker will provider a more complete solution.

Fyi there is already a date range picker library bundled in. It's used on the timeline chart by clicking on the 3-dot menu.

[2020-09-21 20:51] mujx commented on #8
Thanks for the bug report.

[2020-09-21 20:52] #8 closed

[2020-09-22 05:31] lukasleitsch commented on #8
Thanks for the really quick fixing.

For me is pressing ⌘ + R the fastest way to refresh the data.

[2020-09-22 20:38] FredrikMeyer opened #10 "Problem running on Raspberry Pi"
Hi!

I'm trying the `mujx/hakatime:latest-arm` image, and have some trouble getting hakatime to work.

Running `docker-compose -f docker-compose-deploy.yml up` works fine. I had to add `privileged: true`, because I got an error saying that it couldn't read the the time.

I also had to change
[code]
to
[code]
to be able to open the UI on my computer (and not the Pi).

However, I cannot get past the

[2020-09-22 21:01] FredrikMeyer commented on #10
Never mind!

I found the (stupid) error. I didn't realize you had to clone the whole repo to start `docker-compose`...

I guess you can close the issue. Thanks for the cool project!

[2020-09-23 07:13] mujx commented on #10
Thanks for trying hakatime!

The problem was that postgres wasn't initialized. You don't have to clone the repo, but you do need to apply the [sql files](https://github.com/mujx/hakatime/tree/0d678601472368eb86a1feef2a6a65b3dc23b8b4/docker) in order to create the db schema.

Btw, you shouldn't need `privileged: true` to run the container. Could you provide the logs from this error?

[2020-09-23 07:31] FredrikMeyer commented on #10
Here's the logs without `privileged`:

[code]

I found out about this from this blog post: https://stackoverflow.com/questions/53748644/linux-syscall-clock-settime-fails-with-eperm-in-docker-container

[2020-09-24 08:59] christian-fei commented on #10
👍  also needed to include `privileged: true` to get it work,
this error else would make the `hakatime` container fail:

[code]

Thanks for the support on the Pi!

[2020-09-24 11:00] #9 closed

[2020-09-24 11:02] lukasleitsch commented on #9
Awesome. Thanks for your work.

[2020-09-24 15:47] mujx commented on #5
Closing, because now there is a Dockerfile for ARM.

[2020-09-28 01:01] timvoet commented on #5
still doesn't build on a PI, and the ARM images don't run.  you closed the ticket, i guess it was worth a try.

[2020-09-28 07:54] mujx commented on #5
@timvoet What is the ARM architecture of your pi? (which model etc). Could you paste here the errors you encountered?

There is support for the `arm/v7` & `arm64` architectures.

[2020-09-28 14:19] timvoet commented on #5
latest repo version gives this error when trying to start up

standard_init_linux.go:211: exec user process caused "exec format error"
standard_init_linux.go:211: exec user process caused "exec format error"

RaspberryPI 4b
4 GB ram
revision: c03112
OS: Rasbian
Release: 10 (Buster)

[2020-09-28 15:29] mujx commented on #5
@timvoet That error means that you're using an image of a different architecture.

Did you try `mujx/hakatime:latest-arm` or `mujx/hakatime:latest`?

The image with the `latest-arm` tag is the one that is supposed to support your architecture.

[2020-09-28 18:06] timvoet commented on #5
i changed the line from the docker compose
services:
  server:
    container_name: hakatime
    image: mujx/hakatime:latest-arm

i pulled the latest repository

i ran docker-compose -f docker-compose-deploy.yml up -d
running docker-compose -f docker-compose-deploy.yml start gives an error, and this is the contents of the log files

Attaching to haka_db, hakatime
haka_db    |
haka_db    | PostgreSQ

[2020-09-29 06:52] grantstephens opened #11 "cursorpos is not being parsed correctly"
Hi- thanks for this awesome project.
I am using the sublime text addon which works fine with wakatime, but when making the same request to hakatime I get the following error:
[code]
The request is made in sublime using the wakatime python client and looks something like this:
[code]
The the log on hakatime says:
[code]
And the log in from the wakatime client says:
[code]

[2020-09-29 11:23] mujx commented on #11
Thanks for the bug report. It seems like an inconsistency on the type.

I've only been using the vim plugin which doesn't send the cursorpos and never stumbled upon it

[2020-09-29 11:37] #11 closed

[2020-09-29 20:12] grantstephens commented on #11
Thanks @mujx- working perfectly now

[2020-09-30 17:03] mujx commented on #5
@timvoet Could you verify that the binary located in `/app/bin/hakatime` is actually for the ARM architecture. You can try the following:

[code]

[2020-09-30 17:07] timvoet commented on #5
pi@raspberrypi:~/docker_projects/hakatime $ docker run --rm --entrypoint cat mujx/hakatime:latest-arm /app/bin/hakatime > ./hakatime
standard_init_linux.go:211: exec user process caused "exec format error"
pi@raspberrypi:~/docker_projects/hakatime $ file ./hakatime
./hakatime: empty
pi@raspberrypi:~/docker_projects/hakatime $

[2020-09-30 18:10] mujx commented on #5
The command still didnt run. What is the issue if you try to build it yourself?

You can try with the postgres image, to see the arch
[code]

[2020-09-30 18:14] timvoet commented on #5
the postgres runs fine, see below.

./postgres: ELF 32-bit LSB shared object, ARM, EABI5 version 1 (SYSV), dynamically linked, interpreter /lib/ld-linux-armhf.so.3, for GNU/Linux 3.2.0, BuildID[sha1]=4dc11e286c63b54229d899287bdb17fd2e1ea281, stripped

I can't build locally because of the cabal issues I shared earlier.

[2020-09-30 19:25] mujx commented on #5
That's weird.

You can try building again, I've updated the Dockerfile. What kind of signature issues?

[2020-09-30 19:32] timvoet commented on #5
It is weird, i have no ideas

docker-compose ps produces the following

pi@raspberrypi:/docker_projects/hakatime $ docker-compose -f docker-compose-deploy.yml ps
  Name                Command              State     Ports
------------------------------------------------------------
haka_db    docker-entrypoint.sh postgres   Up       5432/tcp
hakatime   /app/bin/hakatime run           Exit 1

docker

[2020-10-01 02:25] timvoet commented on #5
and if i try to build the image myself from the Docker.arm-deps
pi@raspberrypi:~/docker_projects/hakatime $ docker build -f Dockerfile.arm-deps .
Sending build context to Docker daemon  2.404MB
Step 1/14 : FROM debian:testing-slim as server-builder
 ---> 55d8fd1d7a49
Step 2/14 : WORKDIR /build
 ---> Using cache
 ---> 48d28fa0d211
Step 3/14 : RUN apt-get update -y -qq &&     apt-get install -y ghc

[2020-10-02 14:09] FredrikMeyer commented on #5
@timvoet I got it to work on my Raspberry Pi 4. I also had the same issue as you (`clock_gettime: Operation not permitted`). See my issue: https://github.com/mujx/hakatime/issues/10 for how I solved it :)

[2020-10-02 16:50] timvoet commented on #10
I got the instance up and running, though I can't get the register to work.  The SQL instance logs show me everything was created, and yes I have the enable registration flag to true in the docker-compose-deploy.yml

[2020-10-02 18:29] mujx commented on #10
Do you have any errors in hakatime's logs?

[2020-10-02 20:27] timvoet commented on #10
hakatime   | 192.168.1.59 - - [02/Oct/2020:20:26:34 +0000] "POST /auth/refresh_token HTTP/1.1" 400 - "http://raspberrypi.main:8080/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36"
hakatime   | 192.168.1.59 - - [02/Oct/2020:20:26:34 +0000] "GET /nunito-latin-400.4a62a00a.woff HTTP/1.1" 400 - "http://raspberrypi.main:8080/"

[2020-10-02 21:23] mujx commented on #10
Seems like a CORS issue, check the server response payload on your browser.

You can fix it by setting the environment variable `HAKA_CORS_URL` to your domain. In your case it should be `http://raspberrypi.main:8080/`

[2020-10-04 01:11] timvoet commented on #10
that was it.  Oddly enough, i had changed them all before having the raspberry pi build issues.  it's up and running now.

[2020-10-04 01:16] timvoet commented on #5
works great now.

[2020-10-04 01:18] timvoet opened #12 "File type "other""
Is there something we can do to help classify the "other" bucket of file types.

I currently have the templating files (ERB, SLIM, etc ) of my ruby projects classified as "other"

[2020-10-04 01:18] timvoet opened #13 "Classifying other file types instead of Other."
Is there something we can do to help classify the "other" bucket of file types.

I currently have the templating files (ERB, SLIM, etc ) of my ruby projects classified as "other"

[2020-10-04 01:18] #12 closed

[2020-10-04 09:54] mujx commented on #13
The classification is done by the wakatime client. In order for these languages to be recognized the client must support it.

[2020-10-04 09:54] mujx commented on #5
I'll close this issue in favor of #10 , which describes the `clock_gettime: Operation not permitted` problem.

[2020-10-04 09:54] #5 closed

[2020-10-04 17:12] timvoet commented on #13
Waka time recognizes the others properly as ERB files. I just checked

[2020-10-04 18:11] mujx commented on #13
It doesn't seem like it's supported from this list https://github.com/wakatime/wakatime/blob/a05026c791794bdd2530d0883f63d100d4f06b47/wakatime/languages/default.json.

Probably the wakatime server extracts the language from the `.erb` extension, but the client doesn't seem to send the language name.

[2020-10-04 23:41] timvoet commented on #13
I don't know what to say, they do classify it. https://snipboard.io/wPG8xQ.jpg

this was yesterday's session.

[2020-10-05 11:01] #13 closed

[2020-11-25 21:51] allanvb commented on #7
I'm supporting @tskulbru idea.
Answering on your question, yes, we do. If you have some wakatime account with data in in then you can go to [Wakatime Settings](https://wakatime.com/settings/account) page and click export. This action will create a dump of ALL your data stored in wakatime account, so this will be a good feature that will allow users to have their old data in hacatime dashboard

[2020-11-26 09:51] mujx commented on #7
Hi @allanvb. The problem with the exported data is that it only contains summary of the activity and not the actual timestamps received by the cluster. That means that some graphs won't be available in hakatime (like the ones separating activity by time of day etc)

[2020-11-26 10:13] allanvb commented on #7
@mujx maybe we could store imported data in their own tables, or somewhere else, and to add a new page to dashboard for it where user will can get graphics only from imported data.

[2020-11-27 17:53] alanhamlett commented on #7
That's right. You need to use the [Heartbeats API endpoint](https://wakatime.com/developers#heartbeats) to get the raw data. First, get the [user's created_at time](https://wakatime.com/developers#users). Then, loop through each day from then until now fetching each date's heartbeats.

[2020-12-08 11:34] mujx commented on #10
@FredrikMeyer @timvoet @christian-fei I was wondering if adding the `SYS_TIME` capability when running the container fixes the issue so you don't have to run as privileged. An example would be `docker run --cap-add=SYS_TIME ..` or replace `privileged: true` in the docker compose file with the following
[code]

[2020-12-16 00:59] jmangelson opened #14 "nginx configuration"
I am very interested in hakatime, however I am having trouble configuring it to run with nginx alongside multiple other services.
Ex: <my-url>/hakatime

Do you by chance have a sample nginx configuration file for hakatime?

[2020-12-16 01:03] jmangelson opened #15 "Unknown error when registering"
I am also running to problems when running the built in container generated via docker-compose-deploy.yml file.

If I use the default configuration I am able to access the dashboard login page at localhost:8080, however when I attempt to register, I get "registration failed: unknown error".

[2020-12-16 01:15] mujx commented on #14
What is the problem? Do you have any errors in the logs?

It might be a CORS issue. Do you have the correct value for the environment variable `HAKA_CORS_URL`? It should be something like `https://my-domain.com` which should be the URL you're using to access the service.

[2020-12-16 01:16] mujx commented on #15
Can you share some of the logs after the failed registration attempt? It might be related to #1 .

[2020-12-16 03:18] jmangelson commented on #14
Yes, I can get that for you.

Could you point me to where I should get the logs?

On Dec 15, 2020 6:15 PM, mujx <notifications@github.com> wrote:

What is the problem? Do you have any errors in the logs?

It might be a CORS issue. Do you have the correct value for the environment variable HAKA_CORS_URL? It should be something like https://my-domain.com which should be the URL you're using to acces

[2020-12-16 05:26] jmangelson commented on #15
Here are the docker logs for both containers:

hakatime (dashboard) log:
172.18.0.1 - - [15/Dec/2020:18:38:35 +0000] "GET / HTTP/1.1" 200 1271880 "" "curl/7.68.0\
"
172.18.0.1 - - [15/Dec/2020:18:40:02 +0000] "GET / HTTP/1.1" 200 1271880 "" "curl/7.68.0\
"
172.18.0.1 - - [15/Dec/2020:18:57:09 +0000] "GET / HTTP/1.1" 200 1271880 "" "Mozilla/5.0\
 (X11; Ubuntu; Linux x86_64; rv:83.0) Gecko/20100101

[2020-12-16 05:28] jmangelson commented on #15
docker ps shows both containers running:

CONTAINER ID   IMAGE                  COMMAND                  CREATED        STATUS        PORTS                      NAMES
ce078409ad90   mujx/hakatime:latest   "/app/bin/hakatime r…"   11 hours ago   Up 11 hours   127.0.0.1:8080->8080/tcp   hakatime
2cd61a78238b   postgres:11-alpine     "docker-entrypoint.s…"   11 hours ago   Up 11 hours   5432/tcp

[2020-12-16 06:43] jmangelson commented on #15
ok, this seems to be working now under a couple conditions:

1. I added myself to the docker group so that I am no longer rundding docker using sudo
2. The HAKA_CORS_URL must match exactly what I use to access the site.

I've also only got it to work when the HAKA_CORS_URL string includes the port number and only when it is localhost:8080 or localhost:8090

[2020-12-16 06:44] jmangelson commented on #15
Is there some way of getting this to work without the port included in the URL?

[2020-12-16 11:09] mujx commented on #15
It would be possible if CORS is disabled from the service, but that's not currently implemented.

[2020-12-16 11:10] mujx commented on #14
`docker logs <service-name>` should do it.

In any case putting hakatime behind a proxy doesn't require something special. Just make sure the CORS variable is set correctly.

[2020-12-18 15:06] #15 closed

[2020-12-23 11:58] mujx commented on #14
@jmangelson Any updates on this?

[2020-12-23 22:47] jmangelson commented on #14
I'm still having problems getting nginx to find the dashboard web files. It gives a "file not found" error when I go to the url that nginx forwards to the dashboard docker container.

However, I am sure the hakatime image is running correctly since I can access it via the url with the host port included.

For some reason hakatime is unable to find the index.html file in /app/bin/dashboard

Joshua

[2020-12-23 23:51] mujx commented on #14
I can give some more concrete feedback if you share the relevant parts of your nginx config and how you run the hakatime container.

I'm using haproxy for the demo website but it shouldn't be much of a difference for the nginx case.

Here is what an nginx.conf might look like
[code]
You should pass the `HAKA_CORS_URL` the domain that you'll use to access the service.

So if your domain is `hakatim

[2021-01-13 21:53] hea3ven commented on #14
Hello, I think I'm having the same issue that jmangelson is having. What I want to do is have hakatime running at http://my-domain.com/private/hakatime. To do this I've set the `HAKA_CORS_URL` to `http://my-domain.com/private/hakatime`, but hakatime would fail with a body "" probably cause it's not expecting the `/private/hakatime` prefix. If in my nginx I rewrite the url to remove the `/private/h

[2021-01-14 10:23] mujx commented on #14
@hea3ven Yes, that would be something extra to be implemented. The ability to dynamic prefix all the paths.

I'll try to implement something like that in the coming days, but in the meantime you might be able to solve your issue by using a subdomain (if you have that kind of control). So you'll have your service exposed like `http://hakatime.my-domain.com`.

[2021-01-14 14:14] jmangelson commented on #14
This is the same problem I'm having, but I don't have access to create a sub domain.

If you were able to implement that functionality that would be very helpful.

Josh

On Jan 14, 2021 3:24 AM, mujx <notifications@github.com> wrote:

@hea3ven<https://github.com/hea3ven> Yes, that would be something extra to be implemented. The ability to dynamic prefix all the paths.

I'll try to implement someth

[2021-01-26 21:22] mujx commented on #14
@jmangelson @hea3ven I've pushed some changes and now it's possible to use hakatime in your setup.

You would need something like the following in the nginx.conf to overwrite some paths that come from third party css.

[code]

The `HAKA_CORS_URL` is renamed to `HAKA_BADGE_URL` and it's only related to the badge generation. You'll need to set `HAKA_API_PREFIX: '/private/hakatime'` so that the auth

[2021-01-26 22:41] mujx commented on #10
Closing as resolved. Please re-open if that's not the case.

[2021-01-26 22:41] #10 closed

[2021-01-30 22:43] luckydonald commented on #6
`has_premium_features: true`  😈

[2021-01-30 22:45] luckydonald commented on #7
Wouldn't it be quite easy to write like a python script loading the data from one server and shoving it into another, as long as the APIs are there?

[2021-01-30 22:50] muety commented on #7
Yes, should be more or less a no-brainer. However, right now, only exports in the direction of `WakaTime --> Hakatime` and `WakaTime --> Wakapi` will work, as neither Hakatime nor Wakapi expose an API to get raw heartbeats, yet.

[2021-01-30 22:53] luckydonald opened #17 "tagged docker releases"
It would be great if one could pin the docker release to do be able to run updates intentionally.

Could be as simple as a commit hash, date, or a semvar

[2021-01-30 23:59] luckydonald opened #18 "Non-unicode database names fail"
Apparently I can't use a database name like `﹍hakatime`.

[code]
It is correctly in the docker-inspect.
<details><summary><img width="263" alt="image" src="https://user-images.githubusercontent.com/2737108/106370862-8e469c80-635e-11eb-8d3d-ee3f2a92218c.png"> <I>click to display code</I></summary>

[code]
</details>

`exec`-ing into the container and echoing that variable is shown correctly there t

[2021-01-31 01:33] #18 closed

[2021-01-31 01:33] mujx commented on #18
Thanks a lot for the bug report!

[2021-02-02 18:52] mujx commented on #7
@tskulbru @allanvb @luckydonald You can now import your data from Wakatime through the UI. I'll probably make it available as a CLI command also.

@alanhamlett Thanks for the hint! The only issue is that some fields are not resolved and the internal `id` is returned instead. (e.g `user_agent`, `machine`).

N.B: Due to some schema changes you'll have to remove duplicate heartbeats manually (in case

[2021-02-02 19:13] allanvb commented on #7
@mujx very nice update. Thank you.

[2021-02-02 21:29] mujx commented on #14
Closing this as resolved. Feel free to re-open if you encounter any issues with the setup.

[2021-02-02 21:29] #14 closed

[2021-02-02 22:42] #7 closed

[2021-02-05 00:54] moritz-topp opened #19 "unique_heartbeats does not exist"
Hey :D
Since 2 or 3 Days my Hakatime Server won't accept any heartbeats from my IDE's.
I already downloaded the `docker` folder and put it in my folder which bound to my `postgres:11-alpine` Container.
But I still get this Error:
`[Info][02eb1eb53d12][PID 1][ThreadId 14][hakatime-0.1.0-inplace-libhaka:Haka.Heartbeats src/Haka/Heartbeats.hs:137:5] received: 1 heartbeats
[Error][02eb1eb53d12][PID 1]

[2021-02-05 01:32] mujx commented on #19
Hey @moritz-topp , you'll have to apply the sql files that are present in the `docker/` directory. In your case you're missing this https://github.com/mujx/hakatime/blob/master/docker/004-unique-heartbeats.sql.

[2021-02-05 10:18] moritz-topp commented on #19
Thank you :D
I had way to much duplicates, so I decided to reset the SQL. Now I still get following error:
`[Info][3f837e4b60cc][PID 1][ThreadId 34][hakatime-0.1.0-inplace-libhaka:Haka.Heartbeats src/Haka/Heartbeats.hs:137:5] received: 3 heartbeats
[Error][3f837e4b60cc][PID 1][ThreadId 34][hakatime-0.1.0-inplace-libhaka:Haka.Errors src/Haka/Errors.hs:147:5] UserNotFound
"POST /api/v1/users/current

[2021-02-05 10:22] mujx commented on #19
It seems that you're making an api call with an invalid api token (probably the error should have been ApiTokenWithoutUser or something like that). Probably you're using an old token before the database reset, so you'll have to create a new one and update your client.

There is also https://github.com/mujx/hakatime/blob/master/sql/delete_duplicate_heartbeats.sql which can be used to clean up dupli

[2021-02-07 16:48] moritz-topp commented on #19
Thank you, everything is working now!

[2021-02-07 16:48] #19 closed

[2021-02-07 16:54] mujx commented on #17
Will release a `v1.0.0` soon enough, now that the database schema has been stabilized. Keep in mind that there might be backwards incompatible changes.

[2021-02-09 18:38] luckydonald commented on #17
That's great.

Tagging nightly `latest` (aka the newest git version) builds with a commit hash or date would be still be beneficial, for those who want to live on the edge or try out a feature with the option to go back just a bit.

[2021-02-11 08:41] tskulbru commented on #7
Great work!

[2021-02-16 19:03] mujx commented on #17
Closing this now that `v1.0.0` is out. From now on the project will have tagged releases along with the `latest` tag on every commit.

[2021-02-16 19:03] #17 closed

[2021-02-21 11:34] FredrikMeyer opened #21 "ARM Docker image not updated"
First, thanks for this app!

I've had it working on my Pi for a long time now, and I saw you had done some updates. So I was thinking to try to update. I would think the way to do it was to update the Docker compose file (refering to the newest ARM image and add the config options in the last updates), but I see the latest ARM image is 5 months old.

So I tried building it myself. (`docker build -

[2021-02-21 16:12] mujx commented on #21
The current dockerfile for ARM is configured incorrectly with the wrong base image which has an old version of cabal. Replacing the base image with `ubuntu:20.10` might work (I'm currently testing this).

The problem with ARM is that the upstream docker images have quite outdated versions of the build tools needed. The old setup was relying on an unstable debian image which unfortunately started f

[2021-02-21 16:25] mujx opened #22 "Attach tags to projects"
Tags will enable grouping of projects (`#work`, `#web-dev`) and the ability to visualize their aggregated data.

[2021-02-21 16:32] mujx opened #23 "Create global leaderboards"
Opt-in feature for the users of the instance.

This will require a new tab on the UI which will include the rankings.

[2021-02-21 16:34] mujx opened #24 "Integrate with git repositories to assign time spent between commits"
Having access to the git repository of a project will give us information about the time spent on each commit.

[2021-02-21 22:10] mujx commented on #21
Updated the arm dockerfile and now you can actually run the latest version. The issue left is with the Travis build which keeps stalling (https://travis-ci.org/github/mujx/hakatime/builds/759900305)

[2021-02-22 07:19] FredrikMeyer commented on #21
Thank you! I'll give it a try later today and update how it went!

[2021-02-22 18:44] mujx commented on #21
Managed to actually push the build to dockerhub.

[2021-02-23 16:04] luckydonald opened #25 "Postgres error: permission denied for sequence heartbeats_id_seq"
[code]

[2021-02-23 16:09] luckydonald commented on #25
Following [Stack Overflow](https://stackoverflow.com/a/9325195/3423324),
I ran in the `hakatime_db` database:
[code]
I'll report back in a moment if that helps.

[2021-02-23 16:13] luckydonald commented on #25
Seems that has fixed it.
Yay, finally some entries!

[2021-02-23 16:13] luckydonald commented on #25
I assume that is somehow a problem with the automatic setup.

[2021-02-23 17:14] mujx commented on #25
Can you post which version are you using and what steps you took to get that result so I can try to reproduce.

[2021-02-26 11:29] mujx commented on #21
Closing now that the dockerfile builds again. Please re-open is you encounter any issues.

[2021-02-26 11:29] mujx commented on #25
@luckydonald Any updates on this?

[2021-02-26 11:30] luckydonald commented on #25
I'm using `mujx/hakatime:latest` I pulled some time ago.

[2021-02-26 11:31] mujx commented on #25
Did you create the database manually or using the docker-compose file?

[2021-02-26 11:33] luckydonald commented on #25
It was a pre-existing Postgres.
I created an user and a database in it.
I'm not sure any more, In one of hakatime or wakapi I needed to do manually import a SQL file.

[2021-02-26 11:37] luckydonald commented on #25
If you tell me how I can figure out which version it is exactly, I'm happy to share that. But yeah, most certainly it was pre `1.0.0`.

[2021-02-26 11:42] mujx commented on #25
Yes, pre-1.0.0 versions needed manual database creation. Now it should be automatic.

So your issue was due to some missing database permissions for your user.

I'm closing this since it's related to custom db configuration and not on the docker setup.

[2021-02-26 11:42] #25 closed

[2021-02-26 21:26] FredrikMeyer commented on #21
Sorry, for the late answer - I got time today to try the newest ARM image. Unfortunately I couldn't get it to work. I also tried building the ARM image on the Pi, but that failed:
[code]

The error message for Docker compose is this:
[code]

I think I recall that `exec format error` often comes when the image is for the wrong architecture, but I double-checked that I actually pull the right image:

[2021-02-27 08:23] mujx commented on #21
Are you on arm64? It seems that your system is on armv7.

[2021-02-27 08:52] FredrikMeyer commented on #21
Hm, I just checked! Turns out I run on armv7, yes.

I have been running Hakatime on the same Raspberry Pi since september, so I  didn't think architecture would be a problem.

[2021-02-27 10:43] mujx commented on #21
The problem seems to be that I uploaded the arm64 version instead of armv7 as you can see in the [docker tags](https://hub.docker.com/r/mujx/hakatime/tags?page=1&ordering=last_updated).

Of course the problem remains why it doesn't build locally.

[2021-02-27 11:20] mujx commented on #21
@FredrikMeyer Could you try building it again? I removed that argument that it complained about.

[2021-02-27 12:57] FredrikMeyer commented on #21
@mujx So this time I came longer :P.

On my first try I got this message:
[code]

And some Googling showed that Raspbian had some outdated package (see Appendix here http://unixetc.co.uk/2020/04/24/install-docker-on-raspberry-pi/). So I updated `libseccomp` and tried again.

This time it started building, and it did so for about an hour. Then I got this message:
[code]

Seems like some memory issu

[2021-02-27 13:13] mujx commented on #21
Cross-compiling with buildx is unfortunately painfully slow. You could try replacing `-j2` with `-j1` on the dockerfile to make it use a single process.

[2021-02-28 13:41] mujx commented on #21
@FredrikMeyer: You can also try with `optimization: 0` [here](https://github.com/mujx/hakatime/blob/f1ee44f8c27298c93fc98dd81f12f9e8043516e8/cabal.project#L5) which will speed up things significantly and consume a lot less memory.

The performance should be practically the same.

[2021-03-01 10:30] mujx commented on #22
Implemented in ea824c4ca8b942e57e749f25978f0ab8a5afd370

[2021-03-01 10:30] #22 closed

[2021-03-07 02:12] jimmybrancaccio opened #26 "Issue With project_tags Creation"
Hello!

I am using `mujx/hakatime:latest` and have been using this image for at least 3-4 weeks now. The container seems to be having some issues. In the logs I see:

[code]

So I tried running the query manually and I got the same error:

<img width="1213" alt="Screen Shot 2021-03-06 at 20 11 40" src="https://user-images.githubusercontent.com/405585/110226871-2da80380-7eb8-11eb-8cf4-b0e189144079.

[2021-03-07 09:04] mujx commented on #26
Were you using the image before `v1.0.0`? It seems that you're missing some schema changes. Before `v1.0.0` schema migrations would have to be made manually but now they are automatic.

To add the missing schemas do the following:

- Take a backup of your database.
- Delete duplicate heartbeats with the following sql query:
[code]
- Set the `owner` field to your username (it should be `null`)
[cod

[2021-03-07 17:03] jimmybrancaccio commented on #26
@mujx Ah yup! Those steps seemed to do the trick. Apologies on my part for not advising I had been running it pre-1.0.0! I had thought I caught all the updates to get to 1.0.0+ as I had to do some manual work to get some of the new heartbeat (de-duplication) stuff working myself. I appreciate your help in getting me back up and running! 😁

[2021-03-07 18:34] mujx commented on #26
No worries @jimmybrancaccio, I'm glad you're up and running again!

[2021-03-07 18:34] #26 closed

[2021-03-13 20:08] #23 closed

[2021-03-16 18:02] #24 closed

[2021-03-16 22:58] williamboman opened #28 "Explanation for cut-off limit"
Hey! I never really understood what the Cut-off limit is, and I have a feeling I'm not alone. I think it'd be nice with some explanation in the UI :). Thanks for this software btw! Just upgraded from <v1 to v1.2.0

[2021-03-17 07:21] mujx commented on #28
Thanks a lot for using Hakatime! I will add a tooltip with the explanation on the UI.

The explanation is mentioned [here](https://wakatime.com/faq#timeout) in the wakatime website.

Maybe `timeout` is a better name for it?

[2021-03-17 15:39] mujx commented on #28
@williamboman Check out the demo instance, hopefully now it's a bit more clear.

Any other suggestions are highly welcome. Especially around charts/analytics :)

[2021-03-19 19:10] williamboman commented on #28
Ah, I did not think of searching Wakatime docs for explanations. Their explanation makes perfect sense.

Was this added? I can't seem to trigger the tooltip when using the demo instance 🤔

[2021-03-20 09:35] mujx commented on #28
You can trigger it if you hover over the icon.

[2021-03-20 10:57] williamboman commented on #28
Aah I didn't realize I had to hover the icon, even after reading your comment 🙈. Found it now! Thanks :)

[2021-03-20 10:57] #28 closed

[2021-03-20 23:03] Butzlabben opened #29 "Badge for certain timespans"
Hi,

I would like to request a feature. It would be nice to generate badges also for certain timespans. It would be nice to publicly display for example for how long you have worked on a project in general.

P.S.: Is there a way donate money to the author? I want to support this project as I like it really much.

[2021-03-21 09:29] mujx commented on #29
Hi @Butzlabben,

Thanks a lot for using hakatime. Currently there is a query param called `days` that you can change on your generated badge. This will you give the total time spent on the project in the last N days.
[code]
Would you like to have something like a `from` & `to` parameters to control the timespan?

I will try to setup something for donations.

[2021-03-21 13:32] Butzlabben commented on #29
The amount of days will be enough for me. Thanks for helping.

[2021-03-21 14:02] #29 closed

[2021-04-09 01:01] MDXDave opened #31 "Projects dropdown not updated according to the selected date range"
The projects dropdown only contains projects that have been touched within the last 15 days even if you select another time range. The dropdown should be updated according to the selected date range. 😄

[2021-04-09 01:04] MDXDave opened #32 "Project aliases"
Some of my projects are tracked as 2 projects because they have different folder names on my Macbook and my Windows PC.
Maybe its possible to add the possibility to allow adding an alias for the project under which the two projects got bundled ([Wakapi](https://github.com/muety/wakapi) implements this possibility).

[2021-04-10 08:14] mujx commented on #32
You can use tags on those projects to view their aggregated data as an alternative for now.

[2021-04-10 16:44] #31 closed

[2021-04-22 12:09] allanvb opened #33 "Heartbeats importing doesn't work"
I tried to import the data from wakatime.
I provided and api key from wakatime wich is valid, and I got the toast saying that importing job has started.
Despite this the data aren't fetched.
If I open the browser console, i see a repeating request to the `import/status` endpoint, and the response is always `jobStatus: "JobPending"`.
As a date range I selected two days 21 apr - 22 apr.
I also tried

[2021-04-22 13:49] mujx commented on #33
Do you have any logs from the server?

[2021-04-22 13:55] allanvb commented on #33
I will try to export logs a bit later. It wont work and no matters wich range i choose

[2021-04-26 10:12] allanvb commented on #33
@mujx I tried today and everything works fine. I don't know what was the problem. Can it be related to wakatime bug ?

[2021-04-26 10:34] mujx commented on #33
I was not able to reproduce locally. Maybe it was some network issue?

[2021-04-26 14:31] #33 closed

[2021-05-18 16:03] alanhamlett commented on #7
Related, we've opened the API for all date ranges. You can import Heartbeats for non-Premium users back until their account was created. Dates before the user was created will just always return zero seconds.

Only the dashboard now limits date range queries, not the API 😄

[2021-05-18 16:06] alanhamlett opened #34 "Ability to export heartbeats to official WakaTime API"
Similar to #7, would be nice to clone/copy heartbeats to WakaTime's API as they come into hakatime.

This was implemented for wakapi with https://github.com/muety/wakapi/issues/87.

[2021-05-18 17:13] allanvb commented on #7
I noticed that a few weeks ago, but I thought this is just a forgotten validation on endpoint :D

[2021-05-26 13:36] #34 closed

[2021-05-26 15:47] mujx commented on #21
Good news! CircleCI started offering ARM builders so now we have automated CI builds for arm64 docker images with the tag `latest-arm`. Will soon update the CI to include tagged releases.

Will close this one now that the ARM builds are up-to-date again.

[2021-05-26 15:47] #21 closed

[2021-06-10 15:49] Scallions opened #36 "heartbeat forward and import from wakatime doesn't work on raspberry pi 4b"
Thank you for your excellent work. It works well on my x86 server but get some wrong on my arm device.
It can receive heartbeat from my pc but can't forward to other server.

This is my config
[code]
and the error logs
- import log:
[code]
- heartbeat forward log
[code]

[2021-06-12 11:57] mujx commented on #36
Hi @Scallions, thanks for using hakatime and the detailed bug report.

I've pushed a fix for this and verified that it works. You can test it out using the `mujx/hakatime:latest-arm` image.

[2021-06-14 02:08] Scallions commented on #36
Thank you for the quick update. The import function works normally after this update. but there is a new bug when i use a hakatime server to forward another hakatime server. This operation is a bit strange. 😅  It seems port recognition is not normal.

- the config
[code]
- the log
[code]

[2021-06-14 09:14] mujx commented on #36
Indeed the port was ignored. I pushed a fix to include the port found in the url.

[2021-06-14 15:53] Scallions commented on #36
👍It's now functioning correctly. Thanks very much.

[2021-06-14 15:54] #36 closed

[2021-07-08 07:44] MDXDave opened #38 "Token name"
I think it would be useful to set a name for the tokens to know where the token is used.

For example "Android Studio Macbook", "IntelliJ Windows" etc.

[2021-07-22 11:47] Miladiir opened #39 "Postgresql db upgrade failing"
As you can see from the logs, sql migration is failing on postgresql 9.6, where it was working previously. I am running both hakatime and postgres with docker and using a non super user with postgres. The sql user "hakatime" only has acces to this one db.

[code]

[2021-07-22 13:25] mujx commented on #39
Could you give some more information about the commands you were running?

You were migrating from what version?

What do you see in the server logs?

[2021-07-24 09:03] Miladiir commented on #39
[code]
As I said, I am running this dockerized and did not run anything special. I guess the migration is triggered by the app itself.

Sorry, but I really have no idea. The old image seems to be unpinned. I guess this is on me for trying to pull latest and not another pinned image.

Those are the docker container logs of hakatime. In my volumes, I cannot find anything that looks like hakatime log

[2021-07-24 10:32] mujx commented on #39
@Miladiir It seems that you were indeed running a version prior to `1.0.0` and migrations cannot be performed automatically.

Check this  https://github.com/mujx/hakatime/issues/26#issuecomment-792242314 on how to migrate to the `1.x` series.

[2021-07-24 10:52] Miladiir commented on #39
Sorry, that issue did not come up in my search. I will perform the migration. Thank you. This can be closed.

[2021-07-24 10:52] #39 closed

[2021-08-03 21:50] #38 closed

[2021-08-28 13:50] mujx commented on #32
You can now set a tag on both projects `e.g alias:my-app` (or any other name) and you can view their aggregated statistics.

[2021-08-28 13:50] #32 closed

[2021-08-31 14:49] WankkoRee opened #43 "import data from wakatime timeout"
I am in Hong Kong. If i use `api.wakatime.com`, it will time out. But if I use `wakatime.com`, then everything works fine.

![image](https://user-images.githubusercontent.com/21287731/131523987-f00ff675-df1f-4b13-a3bc-c76ccf7f5f7d.png)

So can there be an option in `docker-compose-deploy.yml` for setting importing from which domain? Just like `HAKA_WAKATIME_HOST: "wakatime.com"`

[2021-08-31 15:59] mujx commented on #43
Are you sure the problem is your location and not the amount of data you're expecting? Maybe the server is slow to respond and a second try will most likely fetch your data.

You can check that both `wakatime.com` & `api.wakatime.com` are in California, USA so the latency should be the same.  Or is `api.wakatime.com` blocked in Hong Kong?

[2021-08-31 16:04] WankkoRee commented on #43
Look at the screenshot I uploaded earlier. I did not set user credentials such as cookies and tokens. I just send an anonymous request. But the response time of the two domains is quite different.

[2021-08-31 16:28] mujx commented on #43
You're right. It seems like the `api.wakatime.com` is only redirecting to `wakatime.com/api` on HTTP . This will work `curl http://api.wakatime.com/v1/users/current/heartbeats`, but it returns HTML instead of JSON.  Removing the `/api` path with HTTPS like`curl https://api.wakatime.com/v1/users/current/heartbeats` also works but still no JSON.

I'll provide a variable to control this endpoint. Tha

[2021-08-31 16:56] mujx commented on #43
@WankkoRee I pushed a quick fix that uses the correct endpoint (`wakatime.com`). In the future this will be configurable.

[2021-08-31 17:44] WankkoRee commented on #43
Thank you for your timely fix. I tried to import again and everything was working.

[2021-08-31 17:44] #43 closed

[2021-08-31 18:43] mujx opened #44 "API to create embeddable charts"
Similar to the badges endpoint there should be a way to display a static SVG chart generated by Hakatime into another website.

This could be any of the existing charts already available on the dashboard interface.

[2021-09-01 17:03] MDXDave opened #45 "Permalink for project/tags"
It would be nice if the coding stats of a project (or tags) would be accessible with a permalink, e.g.

- example.com#!/app/projects/facebook
- example.com#!/app/projects?tags=facebook,web

With this feature it would be much easier to access coding stats for different projects/tags and save them as bookmarks or link them in other applications or documents 😄

[2021-09-20 02:42] SCLeoX opened #46 "Error in $[0].cursorpos: parsing Text failed, expected String, but encountered Number"
I am using the [WakaTime official vscode extension](https://github.com/wakatime/vscode-wakatime). I noticed that my extension started to error out since about 3 days ago:

![image](https://user-images.githubusercontent.com/13428807/133952285-28ce27f8-630c-45bd-84fb-68c448e0a50c.png)

My WakaTime extension log is filled with the following error message:

`"caller":"/Users/runner/work/wakatime-cli/w

[2021-09-20 07:24] mujx commented on #46
That's a bit unfortunate, because #11 was also meant to handle this inconsistency. Seems like we need a way to handle both numbers and strings for that field.

[2021-09-22 17:09] kammerdiener opened #47 "VS Code error"
Currently I am unable to use the waktime plugin for VS Code with Hakatime. I have tried across Linux and Mac. I have tried uninstalling and reinstalling the plugin. Currently here are the errors I am getting.

Server:
[code]

Client:
[code]

My `zsh` plugin is working properly and recording everything. It is just the VS Code extension that is having issues.

[2021-09-22 17:14] #47 closed

[2021-09-22 17:15] kammerdiener commented on #46
I am seeing this same problem with the VS Code plugin. My `zsh` plugin works properly but VS Code just fails.

I would also be more than happy to work on it, but having never worked with Haskell before I am probably going to cause more bugs.

[2021-09-23 21:39] jimmybrancaccio opened #48 "VS Code - MethodNotAllowed Error"
I have VS Code v1.60.2 and v1.27.0 of the Wakatime extension. Ever since the 21st (about 2 days ago) the extension has failed to upload heartbeats to my Hakatime instance. I enabled debug mode in Hakatime but that didn't seem to provide any extra logs, and then I enabled debug mode for the extension and I am seeing this:

[code]

Any ideas on this? It does look like the Wakatime extension was upda

[2021-09-24 05:52] mujx commented on #48
Yep it seems some recent updates on the VS Code edit had caused some issues. I will address them soon.

[2021-10-08 12:45] 1dotd4 commented on #46
Is there any spec that say which data should be sent to the server?

Looks like #16 forced everything to `Text`, but it's a plugin misalignment rather than a server problem. `Aeson` is strict when it tries to parse the JSON. Thus I guess either there's a spec that say `cursorpos` and `lineno` must be [numbers](https://datatracker.ietf.org/doc/html/rfc7159#section-6) or the parser should be extende

[2021-10-09 11:29] mujx commented on #46
@1dotd4 Thanks a lot for taking the time to dive into this.

Indeed the spec exists but it's not really up-to-date or followed. In reality what the upstream wakatime server allows is the actual spec. That's what I had in mind when converting `Int` to `Text`.

In order to make hakatime working again with the latest plugin version I will allow both `Text` and `Int`. In the future when all the other

[2021-10-10 16:49] jimmybrancaccio opened #49 "Hakatime 400 Error on Sending Heartbeats"
Hey @mujx, thanks for looking into #48. It however appears there's still issues. I am on VSCode 1.61.0:

[code]

and Hakatime 1.6.2 but I am still getting errors. From my `.wakatime.log` file:

[code]

And logs from my Hakatime container:

[code]

[2021-10-10 20:05] mujx commented on #49
@jimmybrancaccio Are you using the latest wakatime plugin?

[2021-10-10 21:53] jimmybrancaccio commented on #49
@mujx Looks like it. I have v17.1.0 and the Changelog is showing that is the latest version. Is it working for you (assuming you use VSCode and this extension)?

<img width="1792" alt="Screen Shot 2021-10-10 at 16 51 11PM" src="https://user-images.githubusercontent.com/405585/136714056-e48978b6-a80f-4795-9039-6399a91bebb5.png">

[2021-10-11 07:41] mujx commented on #49
I'm not familiar with VS Code and on my testing I was using the open-source version where the Wakatime plugin is quite outdated. So I'll have to install the official version and debug this issue.

[2021-10-11 07:42] mujx opened #50 "Add support for the status bar time on VS Code"
This feature belongs to this endpoint `/api/v1/users/current/statusbar/today` for the wakatime server.

[2021-10-16 18:05] #49 closed

[2021-10-16 18:08] mujx commented on #50
Example output that the plugin expects:

[code]

[2021-10-24 20:45] #50 closed, assigned to nobody

[2021-11-03 19:52] tst32 opened #51 "Dockerized hakatime don't respond on projects menu"
i use docker image `mujx/hakatime:v1.7.0`

firstly it dosn't work with https but only http access work
secondly, can't acess projects menu. many errors in dev console
copied from firefox console
[code]

chrome autorize me then freeze (perpetual load js), console  saying {"error":"Missing the 'Authorization' header field"}
http://127.0.0.1:8080/api/v1/users/current/stats?start=2021-10-19T20%3A03%3A

[2021-11-03 20:16] mujx commented on #51
How exactly did you start the server?

Could you paste the commands you used?

[2021-11-03 22:01] tst32 commented on #51
docker-compose -f <copypastefromgitreame.yml> up

I tinhk CMD ["/app/start.sh"] start app.

[2021-11-05 14:05] tst32 commented on #51
go also Error: [object Object]
    at XMLHttpRequest.f.onreadystatechange ((index):72)
(index):117 call failed with {error: "The user admin doesn't have access to project null"} 404

i created user Admin in web page http://127.0.0.1:8080/#!/register  do i need any other user?

[2021-11-05 15:51] mujx commented on #51
@tst32 The issue is that you don't have any projects to show. You'll have to first configure your wakatime client to send some data.

[2021-11-05 15:59] tst32 commented on #51
cat .wakatime.cfg
[code]
from  .wakatime-cli.log
[code]

[2021-11-05 16:23] mujx commented on #51
What if you use `localhost` instead of `127.0.0.1`?

[2021-11-05 17:08] tst32 commented on #51
Hurray! Everything works great. The thing was that I made a mistake in docker-compose.yml I wanted 8080 to be 8585, and unknowingly changed HAKA_PORT: 8080 to 8585 - this gave rise errors. I've fixed it now.:
Thanks you so much!
[code]

[2021-11-05 17:24] tst32 commented on #51
if you want i could help  localize dashbord (js,css) to :ru:

[2021-11-05 19:11] mujx commented on #51
Glad to hear that you fixed your issue.

Localization will be nice to have. Currently there isn't support for it but I'll open an issue to keep track.

[2021-11-05 19:11] #51 closed

[2021-11-05 19:12] mujx opened #52 "Add support for localization"
It would be nice to support more languages in the UI.

[2021-11-18 09:33] cocoonkid opened #53 "Demo is down :-)"
Demo is down :-)

[2021-11-18 09:38] mujx commented on #53
Yeah, Sorry about that, my cloud provider has issues. Will be back up shortly.

[2021-11-24 06:25] Sequal32 opened #54 "User Level Remote Write Configuration"
Currently all incoming heartbeats are forwarded to the same URL with the same token as of #34. I'd love to let other people use my hakatime instance while also forwarding their heartbeats to their own wakatime account, so having a UI-based way of setting the forwarding configuration would be amazing.

[2021-12-23 01:37] kotx commented on #53
Seems to still be down..?

[2021-12-23 17:22] mujx commented on #53
@cocoonkid @kotx The instance is now back online at hakatime.mtx-dev.xyz with open registration. Apologies for the delay.

[2021-12-23 17:22] #53 closed

[2022-02-08 09:42] Eduardnol opened #55 "Add support for deleting and renaming projects"
It would be nice to delete projects you no longer use or rename existing ones. This could allow us to merge hours across projects marked as different that are actually the same.

[2022-02-13 11:59] williamboman opened #56 "Activity per hour of day - no time allocated for 23-00"
Hello! I have data on my Hakatime instance going back to 2020, and when I'm looking in the Projects view, in the "Activity per hour of day" chart there's never any hours allocated to 23 (11 PM) - it's 0 all the time. I found this to be a bit odd, maybe it's an off-by-one error somewhere?

[2022-04-13 03:13] tgrrr opened #61 "Demo site is down"
Navigating to [hakatime.mtx-dev.xyz](https://hakatime.mtx-dev.xyz/) gives the error:

[code]

[2022-04-13 14:39] mujx commented on #61
Thanks for pointing it out. The site is restored.

[2022-04-13 14:39] #61 closed

[2022-04-25 03:50] thehale opened #62 "`/projects` fails to load if there exists a project with a blank name"
# Issue
When clicking on the **Projects** tab in the sidebar, my local instance of Hakatime sits on the loading screen forever.

# Expected Behavior
Clicking on the **Projects** tab should pull up details about one of my projects, just like in the demo environment.

# Steps to Reproduce
1. Use VS Code on a random file, outside of any specific project, for a few minutes.
2. Open Hakatime, log in, c

[2022-05-01 08:43] vladiiancu commented on #49
@jimmybrancaccio any news? I got the same error earlier and was curious about it

[2022-05-01 09:55] mujx commented on #49
@vladiiancu This has been fixed. Do you still have this issue on the latest version?

[2022-05-01 10:07] vladiiancu commented on #49
Yes. I had an older version installed. Updated it today. Added the old token but I get the file not found error. Created a new token just in case, same. Gone through the settings, saw some new? ENV variables, made the updates there as well, but no luck

[2022-05-01 18:42] jimmybrancaccio commented on #49
As @mujx mentioned this was fixed (7 months ago). I don't have the issue anymore. I would suggest creating a new issue in GitHub (you can reference this one if you'd like), and provide as much information as possible in it.

[2022-06-18 08:03] marcopollacci opened #63 "Time spent per commit - Bitbucket"
Hello! It is possibile to get time spent per commit for repository hosted in other platform than github?
Thank you :)

[2022-09-16 17:28] JamesDAdams commented on #62
same

[2022-09-17 11:25] #62 closed

[2022-09-17 11:26] mujx commented on #62
Thanks a lot @thehale for the detailed bug report. I was able to reproduce and fix the issue.

[2022-10-13 02:35] winkee01 opened #66 "Is HAKA_PORT a port in container or in host?"
Hi, I have a question, I want the serving port on my local host machine to be 8282, should I set `HAKA_PORT` to 8282? Is it a port in the container or in the host? Thank you.

Also, nothing of my activity is shown in the dashboard after loading up the docker container. Can the container read my local config file `~/.wakatime.cfg`?

<img width="1666" alt="CleanShot 2022-10-13 at 10 53 48@2x" src="h

[2022-10-15 12:05] mujx commented on #66
What you need to do if to forward the port specified on `HAKA_PORT` to your host port. See this question https://stackoverflow.com/questions/35429837/docker-compose-port-mapping and the docker-compose docs for more info.

The container won't ready your config file. Your wakatime client reads that file. Check out this section (https://github.com/mujx/hakatime#client-setup) on how to update it for y

[2022-10-16 02:36] winkee01 commented on #66
@mujx I have already setup `api_key` & `api_url`. I think port mapping is not what you mean in `HAKA_PORT`, port mapping in docker is in **`ports`** field, its format is `host_port:container_port`, and it has nothing to do with an environment variable like `HAKA_PORT`, this environment variable has meaning only in your context. And I tested it, it is actually a port on the host.

So my question is

[2022-10-16 12:40] mujx commented on #66
The port defined in `HAKA_PORT` is the `container_port` which can be mapped to any port you want in `host_port`. You need to define the `host_port` on your `~/.wakatime.cfg` file so the client can send the data.

[2022-10-16 21:26] gunter423 opened #67 "Badge all project"
Hi,

Can we create a badge which combine all hourly time spent per project ? Like wakatime

Have nice day :)

[2022-10-18 00:39] winkee01 commented on #66
hi, I have already set my port mapping to be `8282:8080`，and `host_port = 8282` in `~/.wakatime.cfg`, I still can't see any information in the web page. What could be the problem?

[2022-10-22 14:58] mujx commented on #66
Show me your `~/.wakatime.cfg` to understand better the problem.

[2022-10-27 14:45] winkee01 commented on #66
[code]

[2022-10-28 15:41] mujx commented on #66
The `api_url` should be the following according to the [README](https://github.com/mujx/hakatime#client-setup):
[code]

[2022-10-28 15:49] winkee01 commented on #66
@mujx  Thank you, you have been so helpful, it seems to work now.

[2022-10-28 15:49] #66 closed

[2022-10-30 23:37] gunter423 commented on #67
any news ?

[2022-11-06 16:18] mujx commented on #67
Hi @gunter423 , I believe I'll take a look at this in the coming week.

[2022-11-06 16:23] gunter423 commented on #67
Hi @mujx,

Mmh, Can i develop this feature ?

[2022-11-07 08:22] mujx commented on #67
Yes @gunter423, feel free to do so.

[2022-11-07 08:41] gunter423 commented on #67
Okay thanks,

I'll try to integrate this feature in few day :+1:

[2022-11-07 08:41] #67 closed